a{
    color: white;
    text-decoration: underline;
}
body{
    background-color: #EBEBEB;
}
body, p, h1, h2, ul {
    margin:0px;
    padding:0px;
}
h1{
    font-size: 21px;
    font-weight: bold;
}
h2{
    margin-top: 20px;
    font-size: 19px;
}
li{
    display:inline-block;
    margin-right: 30px;
    align-items: center;
    line-height: 50px;
    font-size: 19px;
    font-family: 'Times New Roman', Times, serif;
}
ul{
    padding-left:20px;
}
.wrapper{
    width:890px;
    margin:30px auto;
    min-height:200px;
}
.header{
    background-color: #F8AA03;
    height:50px;
}
.right{
    min-height: 250px;
    width:100%;
    background-color: white;
    float:right;
    padding-right:20px;
}
.footer{
    padding-top:30px;
    padding-bottom: 30px;
    background-color: #F8AA03;
    font-size:13px;
    text-align: center;
    color:white;
}
.content{
    width:100%;
    background-color: white;
    padding:20px;
    text-align: justify;
}
.menu{
    background-color: #F8AA03

}
.container{
    display:flex;
    width:100%;
    min-height:250px;
}
.t1{
    margin-top:10px;
    margin-bottom:10px;
}
.price{
    margin-top:10px;
    width:100%; 
}
.price td, .price th{
    border: 1px solid black;
    text-align:center;
}
.price th{
    background-color:#EBEBEB;
}
.h3{
    font-size: 17px;
    margin-bottom:10px;
}
.right p{
    font-size: 13px;
    margin-bottom:10px;
    text-align: justify;
}